<% include ../theme/header.ejs %>
  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0"><a href="/">Home</a> <span class="mx-2 mb-0">/</span> <strong class="text-black">Cart</strong></div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="title-section mb-5 col-12">
        <h2 class="text-uppercase">Tình trạng đơn hàng</h2>
      </div>
    </div>
            <%  if(data.length >0){ data.forEach(function(it){ %>
                <div class= "tong1" >
                <h5 > Đơn hàng ngày: <%= it.date %></h5>
                <h6>Tình trạng đơn hàng: <span style="color: #FF3300"><%= it.trangthai %> </span></h6>
                </div>

                <% if(it.trangthai ==="Đang chờ xử lý"){ %>
                <div class="row">
                    <div class="container status-img">
                        <img src="/images/vc1.png" alt="">
                    </div>
                </div>
                <% } else if(it.trangthai ==="Đang vận chuyển "){ %>
                    
                    <div class="container status-img">
                        <img src="/images/vc2.png" alt="">
                    </div>
                <% }else { %>
                    <div class="container status-img">
                        <img src="/images/vc.png" alt="">
                    </div>
                
                <%}}) %>
             
               
        <%}else { %>

          <h5>Bạn hiện không có đơn hàng nào</h5>
        <% } %>
  </div>
 


<% include ../theme/products.ejs %>
<%include ../theme/views.ejs %>
<% include ../theme/footer.ejs %>

