<!DOCTYPE html>
<html lang="en">
  <head>
    <title>PhuongTwo &mdash; Kho tàng tri thức</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700"> 
    <link rel="stylesheet" href="/fonts/icomoon/style.css">
    <link rel="stylesheet" href="/css/font-awesome.css">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/magnific-popup.css">
    <link rel="stylesheet" href="/css/jquery-ui.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="/css/detail.css" > <link href='http://fonts.googleapis.com/css?family=Roboto:400,300,300italic,400italic,500,700,500italic,100italic,100' rel='stylesheet' type='text/css'>
    <link href="/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/app.js" type="text/css" media="screen"/>
    <link rel="stylesheet" href="/css/aos.css">
    

    <link rel="stylesheet" href="/css/stylemenu.css">
   
 
   
    
  </head>
  <body>
  
  <div class="site-wrap">
    

    <div class="site-navbar bg-white py-2">

      <div class="search-wrap">
        <div class="container">
          <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
          <form action="/users/search" method="POST">
            <input name ="search"type="text" class="form-control" placeholder="Search keyword and hit enter...">
          </form>  
        </div>
      </div>

      <div class="container">
        <div class="d-flex align-items-center justify-content-between">
          <div class="logo">
            <div class="site-logo">
              <a href="/" class="js-logo-clone">PhuongTwo</a>
            </div>
          </div>
          <div class="main-nav d-none d-lg-block">
            <nav class="site-navigation text-right text-md-center" role="navigation">
              <ul class="site-menu js-clone-nav d-none d-lg-block">
                <li class=" active">
                  <a href="/">Trang chủ</a>
                  
                </li>
                
                <li class="has-children"><a href="">Đơn hàng</a>
                  <ul class="dropdown">
                    <% if(user){ %>
                    <li><a href="/product/listInfoCart">Đơn hàng của bạn</a></li>
                      <% } %>
                    <li><a href="/product/cart">Giỏ hàng của bạn</a></li>
                  
                  </ul>
                </li>
                <li class = "has-children"><a href="">Thể loại</a>
                <ul class="dropdown">
                   
                    <li><a href="/type/short_story">Truyện ngắn</a></li>
                    <li><a href="/type/tieu_thuyet">Tiểu thuyết</a></li>
                    <li><a href="/type/cotich">Cổ tích</a></li>

                  </ul>
                 </li>
                <li><a href="/">Top yêu thích</a></li>
                <li><a href="/product/contact">Liên lạc</a></li>
              </ul>
            </nav>
          </div>
          <div class="icons">
            <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
            <% if(user) { %>
            <a href="#" class="icons-btn d-inline-block"><span class="icon-heart-o"></span></a>
            <a href="cart.html" class="icons-btn d-inline-block bag">
              <span class="icon-shopping-bag"></span>
              <span class="number">2</span>
            </a>
            <% }else{ %>
              <a href="/users/login" ><span class="icon-close2"></span></a>
              <a href="/users/resgiter" ><span class="icon-close2"></span></a>
              
             <% } %>
            <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span class="icon-menu"></span></a>
          </div>
        </div>
      </div>
    </div>
